<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="connectwise" type="SD.ConnectwiseApi.Config.ConnectwiseConfigSection, SD.ConnectwiseApi"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SD.ConnectwiseApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectwise>
    <apicredentials username="SDAppUser" password="s0m3th!ng" companyid="SD"></apicredentials>
    <logging sourcename="CW" ></logging>
  </connectwise>

  <system.diagnostics>
    <sources>
      <source name="CW" switchValue="All">
        <listeners>
          <add name="file" initializeData="cw.servicelog.txt" traceOutputOptions="DateTime" type="System.Diagnostics.TextWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  
  <applicationSettings>
    <SD.ConnectwiseApi.Properties.Settings>
      <setting name="SD_ConnectwiseApi_CWApi_integration_io" serializeAs="String">
        <value>https://connectwise.somethingdigital.com/v4_6_release/services/system_io/integration_io.asmx</value>
      </setting>
    </SD.ConnectwiseApi.Properties.Settings>
  </applicationSettings>
</configuration>